body {
    font-size: 15px;
    line-height: 25px;
    color: $dark-3c;
    font-weight:$fw-400;   
    font-family: 'Open Sans', sans-serif;
    position: relative;
  }

  .btn{
    padding:15px 45px;
    border-radius:26px;
    border:none;
    &.btn-primary{
      background-color:lighten($blue , 30%);
      color:$blue;
      &:hover{
        background-color:$blue;
        color:$white;
      }
      &.active{
        background-color:$blue;
        color:$white; 
      }
    }
    &.btn-warning{
        background-color:lighten($orange , 30%);
        color:$orange;
        &:hover{
          background-color:$orange;
          color:$white;
        }
        &.active{
          background-color:$orange;
          color:$white; 
        } 
    }
    &.btn-outline-primary{
        color:$blue;
        border:1px solid $blue;
        &:hover{
          background-color:$blue;
          color:$white;
        }
        &.active{
          background-color:$blue;
          color:$white; 
        }  
    }
    &.btn-outline-dark{
       border:1px solid $dark-3c;
       color:$dark-3c;
       &:hover{
        background-color:$dark-3c;
        color:$white;
      }
      &.active{
        background-color:$dark-3c;
        color:$white; 
      }
    } 
  }

  .display-l1{
      font-size:80px;
      line-height:90px;
  }
  h1 , .h1{
    font-size:60px;
    line-height:70px;
  }
  h2 , .h2{
    font-size:40px;
    line-height:50px;  
  }
  h3 , .h3{
    font-size:30px;
    line-height:40px;
  }
  h4 , .h4{
    font-size:20px;
    line-height:30px;
  }
  .container-fluid{
      padding:0 30px;
  }
  .card{
      border:none;
      border-radius:10px;
      overflow: hidden;
      .card-header{
        border:none;
        padding:0;
      }
      .card-body{
        padding:40px;
      }
      &.bg-gray{
          background-color:$gray-f8;
      }
      &.bg-blue-light{
        background-color:lighten($blue , 30%);
      }
      &.bg-orange-light{
        background-color:lighten($orange , 30%);
      }
      &.bg-lilla-light{
        background-color:lighten($lilla , 30%);
      }
      &.bg-green-light{
        background-color:lighten($green , 30%);
      }
      &.bg-turkise-light{
        background-color:lighten($turkise , 30%);
      }
      &.bg-beige{
        background-color:$Beige;
      }
  }
  input{
    &:focus{
      outline:none;
    }
  }
  .form-control{
    background-color:transparent;
    border:none;
    padding-left:0;
    font-size:13px;
    line-height:21px;
    border-radius:0;
    box-sizing:border-box;
    &:focus{
      background-color:transparent;
      box-shadow:none;
      &::-webkit-input-placeholder { /* Edge */
        color:$blue;
        font-weight:$fw-700;
      }
      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color:$blue;
        font-weight:$fw-700;
        }
      &::placeholder {
          color:$blue;
          font-weight:$fw-700;
      }
    }
    &::-webkit-input-placeholder { /* Edge */
      color:$dark-3c;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color:$dark-3c;
      }
    &::placeholder {
        color:$dark-3c;
    }
    &.outline-drak{
      border-bottom:1px solid $dark-3c;
      transition:all 0.1s ease-in-out;
      &:focus{
        border-bottom:1px solid $blue;
        color:$blue;
        // font-weight:$fw-700;
      }
    }
  }
  .custom-select{
    position: relative;
    i{
      position: absolute;
      top: 14px;
      right: 8px;
      font-weight: 500;
      font-size: 12px;
    }
  }
  .custom-radio{
    .form-check-input{
      width:18px;
      height:18px;
      border-color:$dark-3c;
      cursor:pointer;
      margin-right:8px;
      &:checked{
        background-color:$white;
        box-shadow:none;
        background-image:url(../../images/circle-black.svg);
      }
    }
    label{
      font-size:13px;
      line-height:21px;
    }
  }
  .row-y{
    align-items:center;
  }
  .section{
    &.bg-beige{
      background-color:$Beige;
    }
  }
  .row-y{
    align-items:center;
  }

  .img-overlay-bg{  
    &::after{
      content:"";
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      background: transparent linear-gradient(180deg, #FFFFFF00 0%, rgba(0,0,0,0.6) 100%) 0% 0% no-repeat padding-box;
      border-radius:10px;
    }
  }

  .img-content{
    position:absolute;
    left:30px;
    bottom:30px;
    color:$white;
    z-index:1;
    h3{
        font-weight:$fw-700;
    }
    h4{
      font-weight:$fw-700;
    }
}
.tabList{
  padding:0;
  margin:0;
  text-align:center;
  li{
    display:inline-block;
    margin-right:12px;
  }
}
.mt-80{
  margin-top:80px;
}