@media only screen and (max-width:1440px){
    .section{
        &.application-slider{
            .slick-arrow{
                &.slick-next {
                    right: 75%;
                } 
            }
        } 
    }
}
@media only screen and (max-width:1400px){
    .home-banner{
        .banner-content {
            padding-left:50px;
        }
    } 
    .product-cover-banner{
        .banner-content {
            padding-left: 50px;
        }
    } 
}
@media only screen and (max-width:1399px){
    .application-section{
        .desktop-view{
            .right-application{
                .smallImg {
                    max-width: 265px;
                }
            } 
        }
        
    } 
    .tabList{
        li{
            margin-bottom:20px;
        }
    }
    .all-category-tab{
        .product-list-box{
            .offset-md-1{
                margin-left:4%;
            }
        } 
    } 
}
@media only screen and (max-width:1330px){
    .top-header{
        .container-fluid{
            padding:0 15px;
            .logo{
                a{
                    img{
                        max-width:150px;
                    }
                }
            }
            .right-items{
                min-width:112px;
            }
            .nav-header{
                .nav{
                    li{
                        margin:0 40px 0 0;
                        &.active{
                            &::after{
                                bottom:-24px;
                            }
                        }
                        .mega-menu{
                            top:72px;
                        }
                    }
                }
            }
        }
    }
    .cheese-powder-sec{
        .container-fluid{
            .singleBox{
                .inner-item{
                    img{
                        max-width:120px;
                    }
                    h2{
                        font-size:28px;
                        line-height:32px;
                    }
                }
            }
        }
    }
    .location-tabs{
        &.product-cheese-tabs{
            .tab-lists{
                .nav-item{
                    .nav-link {
                        padding:15px 20px;
                    }
                } 
            } 
        } 
    }
}
@media only screen and (max-width:1199px){
    .all-category-tab{
        .product-list-box{
            .product-img{
                img {
                    min-height: 320px;
                    object-fit: cover;
                }
            } 
        } 
    } 
}
@media only screen and (max-width:1024px){
    .top-header{
        .container-fluid{
            .nav-header{
                .nav{
                    li{
                        margin:0 24px 0 0;
                    }
                }
            }
        }
    }
    .application-section{
        .desktop-view{
            .right-application{
                .smallImg {
                    max-width: 214px;
                }
            } 
        }
        
    } 
    .img-content {
        left: 15px;
        bottom:15px;
    }
    .location-tabs{
        &.product-cheese-tabs{
            .tab-lists{
                top:-45px;
                .nav-item{
                    .nav-link {
                        padding:15px 10px;
                        max-width:150px;
                    }
                } 
            } 
            .what-wedo{
                .right-cards{
                    .card{
                        &:first-child{
                            .card-body{
                                h4{
                                    font-size:18px;
                                    line-height:20px;
                                }
                            }
                        } 
                    }
                } 
            }
        }
        .find-distributor{
            .single-country-list{
                .view-web {
                    min-width:140px;
                    .btn{
                        padding:8px 18px;
                    }
                } 
            } 
        }
    }
    .explore-product{
        .bg-gray , .card{
            p{
                font-size: 15px;
                line-height: 18px;
            }
        } 
    } 
    .card{
        .card-body {
            padding:20px;
        }
    }
    .product-cover-banner{
        .banner-content{
            padding-left:47px;
        }
        img{
            min-height:550px;
        }
        &.whats-kokumi-banner{
            .banner-content{
                .display-l1 {
                    font-size:70px;
                    line-height:76px;
                    max-width:477px;
                }
            } 
        }
        &.product-range-banner{
            .banner-content{
                h1{
                    font-size: 100px;
                    line-height: 80px;
                }
            }
        } 
    }
    .natural-booster{
        .offer-box{
            .card-body {
                padding:20px 15px;
            }
        } 
    }
    .application-slider {
        padding-left: 50px !important;
        overflow: hidden;
    }
    .roadmape-section {
        padding: 88px 0 0 50px;
    }
    .section{
        &.application-slider {
            padding-left:50px;
            overflow: hidden;
            .slick-arrow{
                &.slick-next {
                    right: 72%;
                }
            }
        } 
    }
    .product-item-box {
        margin: 0 0 80px;
       &.space-top {
            margin-top: 150px;
        }
    }
    .get-intuch .offset-md-1{
        margin-left:4%;
    }
    .custom-select{
        .multiselect-native-select{
            .btn-group{
                .multiselect-container {
                    max-height: 220px;
                    overflow-y: auto;
                }
            } 
        } 
    }
    .social-comment{
        .comment-item{
            .card-body {
                padding:30px 20px;
                h4{
                    font-size:18px;
                }
            } 
        } 
    } 
    .natural-booster{
        [class*=col-] {
            padding-left:12px;
            padding-right:12px;
        }
    } 
}

@media only screen and (max-width:991px){
    .display-l1{
        font-size:34px;
        line-height:38px;
    }
    h1 , .h1{
        font-size:32px;
        line-height:36px;
      }
      h2 , .h2{
        font-size:28px;
        line-height:36px;  
      }
      h3 , .h3{
        font-size:26px;
        line-height:32px;
      }
    .container-fluid{
        padding:0 15px;
    }

     
    .top-header{
        .container-fluid{
            .nav-header{
                display: none;
            }
            .right-items{
                display:none;
            }
            .mobile-menu{
                display:block;
            }
        }
    }
    .login-modal-box{
        background-color:$dark-blue;
        .modal-dialog{
            max-width:100%;
            margin:0;
            min-height: 100%;
            .modal-content{
                height:100vh;
                border-radius:0px;
                .modal-body{
                    .row{
                        .col-md-6{
                            width:100%;
                            height:100vh;
                            display:flex;
                            align-items:center;
                            justify-content:center;
                            background-color:$dark-blue;
                            &:first-child{
                                display:none;
                            }
                            .login-form{
                                width: 100%;
                                height: 100%;
                                border-radius: 0px;
                                background-color:$dark-blue;
                                overflow-y:scroll;
                                .back-btn{
                                    display:block;
                                }
                                .modal-close-icon{
                                    color:$white;
                                }
                                .card-body{
                                    // display: flex;
                                    // flex-direction: column;
                                    // align-items: center;
                                    // justify-content: space-between;
                                    // width: 100%;
                                    padding: 100px 30px 40px;
                                    h3{
                                        display:none;
                                    }
                                    .login-title{
                                       display:block;
                                    }
                                    .form-boxlog{
                                        width: 100%;
                                        padding:0;
                                        display: flex;
                                        flex-direction: column;
                                        align-items: center;
                                        justify-content: space-between;
                                        height:100%;
                                        .input-Area{
                                            width:100%;
                                            .form-row{
                                                &.password-forgot{
                                                    .custom-radio{
                                                        .form-check-label{
                                                            color:$white;
                                                        }
                                                        .form-check-input {
                                                            background-color: transparent;
                                                            &:checked{
                                                                background-image:url(../../images/circle-white.svg);
                                                                border-color:$white;
                                                            }
                                                        }
                                                    } 
                                                    .forgot-link{
                                                        a {
                                                            color:$white;
                                                        }
                                                    } 
                                                }
                                                .form-group{
                                                    .input-beigen-light{
                                                        &:focus{
                                                            background-color:$white;
                                                        }
                                                    } 
                                                } 
                                            }
                                        }
                                        .signup-btn {
                                            display:flex;
                                            flex-direction: column-reverse;
                                            width:100%;
                                            .singUp-link {
                                                color:$white;
                                                margin-bottom: 30px;
                                                font-weight:$fw-300;
                                            }
                                        }
                                    } 
                                }
                            }
                        }
                    }
                }
            }
        }
    } 
    .application-section{
        .desktop-view{
            .right-application{
                .smallImg {
                    max-width:150px;
                }
            } 
        }
       
    } 
    .home-banner{
        .banner-content {
            padding-left:37px;
        }
    } 
    .location-tabs{
        &.product-cheese-tabs{
            .tab-lists{
                .nav-item{
                    .nav-link {
                        max-width:120px;
                    }
                } 
            } 
        } 
    }
    .top-header{
        .container-fluid{
            .logo{
                z-index: 1;
            }
        } 
    } 
    .home-banner {
        margin-top: -72px;
        img {
            min-height:600px;
        }
    }
    .why-cheese-powder{
        .colorBox{
            .card{
                .card-body{
                    .inner-box {
                        h3{
                            font-size:20px;
                        }
                    }
                } 
            } 
        } 
    }
    .all-category-tab{
        .newslatter-signup{
            .card{
                .left-img {
                    padding:110px 30px;
                } 
                .newslatter-box {
                    padding: 0 10px 0 0;
                }
            } 
        }
        .product-list-box{
            .product-detail{
                h3{
                    font-size:22px;
                    line-height:26px;
                }
            } 
        }  
    }
    .food-items-tab {
        .nav-item {
            margin-right: 15px;
        }
    }
    .related-news-section{
        .related-news-box{
            .card-body {
                padding:30px 15px;
            }
        } 
    }
    .news-detail-area{
        .category-date-box {
            max-width: 380px;
            padding: 15px 40px;
        } 
    } 
    .location-tabs{
        .find-distributor{
            .single-country-list{
                .row{
                    .col-md-2{
                        width:13%;
                    }
                    .col-md-5{
                        width:36%;
                    }
                }
            }
        } 
        .contact-form-section{
            .receive-form{
                .card-body {
                    padding: 40px 25px;
                }
            } 
        }
    }
    .loyalty-box{
        .card{
            .plus-items{
                .plus-btn{
                    top: 70px;
                    left: 60%;
                    &.plus-btn-two {
                        top:160px;
                    }
                    &.plus-btn-three {
                        top: 220px;
                        left: 70%;
                    }
                }
            } 
        }  
    } 
}

@media only screen and (max-width:768px){
    .cheese-powder-sec{
        .container-fluid{
            .singleBox{
                .inner-item{
                    img{
                        max-width:100px;
                    }
                }
            }
        }
    }
    .section{
        &.application-slider{
            .slick-arrow{
                &.slick-next {
                    right: 66%;
                }
            }
        } 
    }
    .product-ncb-banner{
        .banner-content{
            h1 {
                font-size:36px;
                line-height:40px;
            }
        } 
    } 
    .cookie-box{
        .modal-dialog{
            .modal-content{
                .modal-body{
                    .detail-area{
                        .card-body {
                            padding:30px 15px;
                        }
                    }
                    .btn-area{
                        padding:30px 15px;
                        .btn{
                            padding: 15px 20px;
                        }
                    } 
                    .all-toggle-btns{
                        li {
                            width: calc(50% - 2px);
                            border-bottom:1px solid #F0F0F0;
                            &:first-child{
                                border-right:1px solid #F0F0F0;
                            }
                            &:last-child{
                                border-bottom:transparent;
                            }
                            &:nth-last-child(2){
                                border-bottom:transparent;
                                border-right:1px solid #F0F0F0;
                            }
                        }
                    } 
                } 
            } 
        } 
    } 
}


@media only screen and (max-width:767px){
    body{
        color:$black;
    }
    .display-l1{
        font-size:34px;
        line-height:38px;
    }
    h1 , .h1{
        font-size:32px;
        line-height:36px;
      }
      h2 , .h2{
        font-size:28px;
        line-height:36px;  
      }
      h3 , .h3{
        font-size:26px;
        line-height:32px;
      }
    .container-fluid{
        padding:0 15px;
    }
    .home-banner{
        img{
            min-height:550px;
        }
        .banner-content{
            padding-left:15px;
            .display-l1{
                max-width:280px;
            } 
            p{
                max-width:280px;
            }
        }
    } 
    .application-section{
        overflow: hidden;
        padding:0 0 50px;
        .container-fluid{
            padding:0;
        }
        .get-inspired{
            h3{
                font-weight:$fw-700;
            }
        } 
        .left-application{
            display:inline-flex !important;
            .single-img{
                img {
                    min-height: 100%;
                }
            } 
        } 
        .right-application{
            display:inline-flex !important;
            flex-wrap: nowrap;
            flex-direction: column;
            .smallImg {
                width:100%;
                min-width:100%;
            }
        } 
        .seeAll-btn{
            a {
                min-width: 100%;
            }
        } 
    } 
    .secret-ingredient{
        padding:50px 0;
        .card{
            &.bg-gray{
                background-color:transparent;
                .card-body{
                    padding:0;
                }
                .next-success {
                    padding:0;
                    text-align: left;
                    h3{
                        padding:0 0 20px;
                        color:$black;
                    }
                    p{
                        color:$black;
                        padding: 0 0 70px;
                    }
                }
            }
        } 
    }
    .video-block{
        max-height:100%;
        .play-box{
            .play-item{
                width:50px;
                height:50px;
                i{
                    font-size:16px;
                    line-height:24px;
                }
                img{
                    width:25px;
                }
            }    
        }
    }
    .success-next{
        .tab-slide-section{
            .tabs-section{
                .tab-lists{
                    li {
                        margin: 0 0px 26px 0;
                        .btn{
                            padding:12px 40px;
                        }
                    }
                } 
            } 
        } 
    } 
    .what-forme {
        padding:50px 0 0;
        h2{
            text-align:center;
        }
        .row{
            justify-content:center;
            .col{
                max-width: 140px;
                min-width: 115px;
                margin-bottom:20px;
                .card {
                    max-height:85px;
                    // height:auto;
                    .card-body{
                        padding:20px;
                        max-height:100%;
                        img{
                            max-width:40px;
                        }
                    }
                    
                }
                h4{
                    font-size:15px;
                    color:$dark-3c;
                }
            } 
        }
        .product-cards {
            padding:50px 0;
            .card{
                margin-bottom:30px;
            }
            .right-product-col {
                margin:0;
                .card{
                    margin-bottom:30px;
                }
            }
        }
    }
    .journey-step{
        padding:0 0 90px;
    } 
    .latestNews-block{
        padding:60px 0;
        .left-block-news{
            h2 {
                margin-bottom: 40px;
            }
        } 
    } 
    .footer-section{
        .footer-logo{
            text-align:center;
            padding: 60px 0 30px;
        }
        .footer-mid {
            text-align: center;
            border-bottom: none;
            padding-bottom:30px;
            .footer-items{
                p{
                    &:first-child{
                        display:none;
                    }
                    &.p-title{
                        display: block;
                    }
                }
                .footer-nav-link{
                    li{
                        &.sub-menu{
                            display:block;
                            .right{
                                display:inline-block;
                            }
                        }
                        &:nth-child(3){
                            display:none;
                        }
                    }
                }
                .food-search {
                    margin:18px auto 0;
                }
                .social-icons{
                    margin:0;
                }
                &.app-nav{
                    display:none;
                }
            } 
            .latest-news{
                display:none;
            }
        } 
        .footer-bottom{
            .row{
                flex-direction: column-reverse;
            }
            .privacy-policy{
                text-align:center;
                 margin-bottom: 10px;
            }
            .bottom-logo{
                text-align:center;
                margin-bottom:25px;
            }
        }
    } 
    .application-section{
        .get-inspired{
            margin-bottom:40px;
        }
        .desktop-view{
            display:none;
        }
        .iceaCream-product{
            display:block;
        }
    } 
    .latestNews-block{
        overflow: hidden;
        .card{
            .card-body {
                padding:30px 20px;
                h5{
                    font-size:16px;
                }
            }
        } 
        // .col-md-6{
        //     &.right-block-news{
        //         display:none !important;
        //     }
        // }
    }
    .what-forme{
        .product-cards{
            .card{
                .card-body {
                    padding:30px 20px;
                }
            } 
        } 
    } 
    .mobile-latest-news{
        display: block;
        padding: 50px 0px 80px;
        .latest-news{
            .news-form {
                max-width:100%;
                .btn{
                    padding:15px 45px;
                }
            }
        } 
    }
    .cheese-powder-sec{
        padding:0 0 80px;
        .container-fluid{
            flex-direction:column;
            .singleBox{
                width:100%;
                min-height:200px;
                &:hover{
                    width:100%;
                }
            }
        }
    }
    .cleanlabel-section{
        padding:80px 0  ;
        h3 {
            margin-top:20px;
        }
    } 
    .secret-ingred-sec{
        padding:0 0 80px;
        h1 {
            font-size:32px;
            line-height:36px;
            margin-bottom:20px;
        }
    } 
    .bring-next {
        padding:60px 0;
    }
    .get-intuch {
        padding: 0 0 80px;
    }
    .cheese-powder-banner{
        .left-img {
            text-align:center;
        }
        .right-content{
            text-align:center;
        }
    }
    .natural-booster{
        .offer-box{
            .card-body{
                h4 {
                    max-width: 100%;
                } 
            } 
        } 
    }
    .product-cover-banner{
        img {
            min-height: 360px;
        }
        .banner-content {
            padding-left:15px;
        }
        &.NCb-food{
            .banner-content{
                h1{
                    line-height:36px;
                    max-width:280px;
                }
            } 
        }
        &.whats-kokumi-banner{
            .banner-content{
                .display-l1 {
                    font-size: 40px;
                    line-height: 46px;
                    max-width: 270px;
                } 
            } 
        } 
        &.creamy-banner{
            .banner-content{
                h1 {
                    font-size: 32px;
                    line-height: 36px;
                    max-width: 270px;
                }
            } 
        } 
    } 
    .product-ncb-banner{
        .banner-content{
            h1 {
                font-size: 32px;
                line-height: 36px;
            }
        } 
    } 
    .section{
        &.bg-black {
            padding:50px 0 75px;
        }
    }
    .product-item-box{
        margin:0 0 20px;
        &.space-top {
            margin-top:0px;
        }
    }
    .rnd-section{
        &.bg-black{
            .row{
                padding:0 0 50px;
                .right-content {
                    margin:20px 0 0;
                }
                &:nth-child(2){
                    flex-direction:column-reverse;
                }
            } 
        } 
    }
    .section{
        &.application-slider{
            .slick-arrow{
                &.slick-next {
                    right: 49%;
                }
            }
        } 
    }
    .application-section{
        .card{
            background-color:transparent;
            .card-body {
                padding:20px 0px 40px;
            }
        } 
        .iceaCream-product{
            .mob-product-icea {
                display: block;
            }
        } 
    } 
    .latestNews-block{
        .desktop-view{
            display:none;
        }
        .mobile-view{
            display:block;
        }
    }
    .why-cheese-powder{
        padding:0 0 50px;
    }
    .location-tabs{
        // overflow: hidden;
        &.product-cheese-tabs{
            padding:30px 0 0;
            .tab-lists{
                position:initial;
                // overflow:scroll;
                // justify-content: flex-start;
                // margin:0;
                .nav-item{
                    margin:0 10px 5px;
                    width:100%;
                    .nav-link {
                        white-space: nowrap;
                        max-width:100%;
                        width:100%;
                        border-radius:0;
                    }
                } 
            }
            .product-item-sec {
                padding:50px 0 20px;
                h3{
                    margin:0 0 20px;
                }
            }
            .what-wedo{
                padding:0 0 50px;
                .left-content {
                    margin:0 0 20px;
                }
                .right-cards{
                    .card{
                        &:first-child{
                            .card-body{
                                h4{
                                    font-size: 14px;
                                    line-height:18px;
                                }
                            } 
                        } 
                    }
                } 
            }
            .did-know {
                padding: 0 0 50px;
                ul{
                    padding-left:20px;
                }
            }
            .explore-product {
                padding: 0 0 50px 0;
            } 
        }
    }
    .long-term-potential{
        margin:0 0 50px;
        .right-content{
            h2{
                margin: auto;
            }
        } 
    }  
    .product-blend-banner{
        padding:0 0 60px;
        .row{
            flex-direction: column-reverse;
            .right-img{
                margin-bottom:50px;
            }
        }
    }
    .cleanlabel-section{
        .row{
            &:nth-child(2){
                flex-direction:column-reverse;
            }
        }
    }
    .only-content{
        padding:50px 15px;
    }
    .abount-section{
        padding:0 0 50px;
    }
    .we-love-it{
        padding:50px 0;
        margin:0 0 50px;
        .section-heading {
            margin: 0 0 50px;
        }
    } 
    .rnd-section{
        padding:0 0 50px;
        .left-img {
            margin: 0 0 20px;
        }
    } 
    .behind-success{
        padding:20px 0 50px;
        .left-content{
            margin:0 0 20px;
            h1{
                font-size: 32px;
                line-height: 36px;
            }
        }
    }
    .social-comment{
        padding:0 0 50px;
        .comment-heading {
            margin: 0 0 50px;
            h2{
                margin:0 0 20px;
            }
        }
       .comment-item {
            margin: 0 0 30px;
            .card-body{
                padding:40px 20px;
                h4{
                    font-size:16px;
                }
            }
        }
    }
    .faq-section{
        .faq-custom-accordian{
            .accordion-item{
                .accordion-header{
                    .accordion-button{
                        padding:20px;
                        font-size: 16px;
                        line-height: 22px;
                    }   
                } 
                .accordion-collapse{
                    .accordion-body {
                        padding: 0px 20px 30px;
                    }
                } 
            } 
        } 
    }
    .quality-banner {
        padding:50px 15px;
    }
    .our-quality-section{
        .left-content-area {
            padding: 0 0 50px;
        } 
        .video-block {
            margin-bottom:50px;
        }
    } 
    .faq-section {
        padding:50px 0;
        &.section{
            &.bg-beige{
                background-color:lighten($blue , 30%);
            }
        } 
    }
    .food-items-tab {
        margin-bottom:20px;
        justify-content:center;
        .nav-item {
            margin-bottom:15px;
        }
    }
    .all-category-tab{
        .popular-items {
            justify-content:center;
        }
    } 
    .familiar-with{
        margin:0 0 50px;
        .inner-fam{
            .btn-item{
                display:inline-flex;
                flex-direction: column-reverse;
                .btn{
                    margin:0 0 15px 0;
                    padding:15px 30px;
                    &.btn-warning{
                        background-color:$orange;
                    }
                }
            }
        } 
    }
    .bread-pastry-banner{
        padding:50px 0;
        .right-img{
            margin:30px 0 0 0;
        }
        .left-content{
            .btn-primary {
                padding: 10px 30px;
            } 
        } 
    }
    .test-function{
        .function-sec{
            .top-flavours {
                padding:50px 0;
            }
            .top-card{
                .card-body {
                    padding: 32px 20px;
                    i{
                        margin-bottom:20px;
                    }
                }
            } 
        } 
    }  
    .german-sandwich{
        padding:50px 0;
        .left-img{
            margin-bottom:30px;
        }
    }
    .loyalty-box{
        padding:0 0 50px;
        .card{
            overflow:visible;
            img{
                object-fit:cover;
                min-height:450px;
                border-radius:10px;
            }
            .plus-items{
                .plus-btn{
                    left:45%;
                    &.plus-btn-two{
                        left:45%;
                    }
                    &.plus-btn-three {
                        display:none;
                    }
                    .drop-box{
                        max-width:280px;
                        padding:20px 15px;
                    }
                }
            } 
        }
    }
    .get-intuch{
        .getLeft{
            overflow: hidden;
            max-height:300px;
            img {
                
                min-height:300px;
            }
        }
    }
    .news-trend-banner{
        padding:50px 15px;
    }
    .all-category-tab{
        .product-list-box{
            margin:30px 0 50px;
            .offset-md-1 {
                margin-left: 0;
            }
            .product-img{
                margin-bottom:40px;
                overflow: hidden;
                max-height:380px;
                img {
                   border-radius:10px 10px 0 0;
                   min-height: 380px;
                }
            }
        } 
    }
    .custom-pagination li {
        width:22px;
        min-width:22px;
        height:22px;
        margin: 0 10px 0 0;
        font-size:12px;
    } 
    .all-category-tab{
        padding:0 0 50px;
        .newslatter-signup{
            padding:50px 0;
            .card{
                .row{
                    flex-direction:column-reverse;
                    .newslatter-box {
                        padding:30px 30px 60px;
                    }
                    .left-img {
                        border-radius:0 0 10px 10px;
                        padding:15px;
                    }
                }
            } 
        } 
    }
    .custom-pagination {
        padding: 50px 0 0;
    } 
    .related-news-section{
        padding:0 0 50px;
        .related-news-box{
            margin:0 0 30px;
            .card-header{
                overflow: hidden;
                max-height:380px;
                img {
                    min-height:380px;
                }
            } 
        }
    }
    .news-detail-area{
        padding:50px 0;
    } 
    .our-mission-section{
        padding:50px 0;
    }
    .roadmape-section{
        margin-bottom:50px;
    }
    .social-response-section{
        padding:0 0 50px;
        .left-img {
            margin-bottom:30px;
        }
        .right-content{
            h3{
                max-width:100%;
            }
        }
    }
    .join-us-section{
        padding:0 0 70px;
        .card{
            .row{
                flex-direction: column-reverse;
                .right-content{
                    padding:30px 25px 50px;
                    .btn{
                        padding:15px 45px;
                    }
                }
            }
        }
    } 

    .how-can-section{
        padding:80px 0;
    }

    .location-tabs{
        .tab-lists{
            position:initial;
            .nav-item{
                margin:0 0 5px;
                width:100%;
                &:first-child{
                    .nav-link{
                        border-radius:0px;  
                    }
                }
                &:nth-child(2){
                   .nav-link{
                    border-left:none;
                    border-right:none;
                   }
                }
                &:last-child{
                    .nav-link{
                        border-radius:0px;
                    }
                }
                .nav-link {
                    white-space: nowrap;
                    max-width:100%;
                    width:100%;
                    border-radius:0px;
                    padding:15px 10px;
                }
            } 
        }
    }
    .filter-box{
        overflow-y:scroll;
    }
    .location-tabs{
        padding:0 0 70px;
        .find-distributor{
            padding:50px 0 0;
            .single-country-list{
                .country-add{
                    margin:15px 0;
                }
                .view-web{
                    text-align:left;
                    margin:25px 0 0;
                }
                .row{
                    .col-md-2{
                        width:100%;
                    }
                    .col-md-5{
                        width:100%;
                    }
                }
            } 
        }
        .location-specialist {
            padding:50px 0 0;
        }
        .contact-form-section {
            padding:50px 0 0;
            .contact-info{
                margin:15px 0 0;
            }
            .receive-form{
                .card-body {
                    padding:40px 15px;
                }
            }
        } 
    } 
    .open-position{
        .single-job-box{
            .card-body{
                .readMore-btn {
                    text-align: left;
                    margin:15px 0 0;
                }
            } 
        } 
    } 
    .cleanlabel-section{
        .row{
            flex-direction: column-reverse;
            img{
                margin:30px 0 30px;
                border-radius:10px 10px 0 0;
            }
        }
    }
    .test-function{
        .function-sec{
            .top-flavours{
                .progress-items{
                    .row {
                        .prog-bar{
                            width:80%;
                        }
                        .per-item{
                            width:20%;
                        }
                    }
                }
            } 
        } 
    } 
    .tab-content{
        overflow: hidden;
    }
    .news-cat-1{
        .slick-slide{
            margin-right:15px;
        }
    }
    .roadmape-section{
        padding:50px 0 0 15px;
        margin-bottom: 100px;
        .road-content{
            .roadmape-arrow {
                justify-content: flex-start;
                display:none;
            }
        } 
        .outer-slider-sec {
            padding: 90px 0 100px 0;
        }
    }
    .faq-section{
        &.section{
            &.bg-beige{
                &.quality-certification{
                    background-color:$white;
                    .faq-custom-accordian{
                        .accordion-item{
                            background-color:lighten($orange , 30%);
                            .accordion-header{
                                .accordion-button{
                                    // background-color:lighten($orange , 30%);
                                    &::after{
                                        background-color:$orange;
                                        background-image:url(../../images/plus-white.svg);
                                        background-size:22px;
                                        margin-left: 10px;
                                    }
                                }
                            } 
                        } 
                    } 
                }
            } 
        }  
    }   
    .application-slider {
        padding-left:15px !important;
    }
    .get-intuch .offset-md-1 {
        margin-left: 0;
    }
    .application-banner{
        padding:60px 0;
    }
    .test-function{
        .function-sec{
            .top-flavours{
                .spot-box{
                    margin:0 0 30px;
                }
                .progress-items {
                    margin:18px 0 0;
                }
            } 
        } 
    } 
}

@media only screen and (max-width:599px){
    .mobile-panel{
        padding:100px 20px 50px;
    }
    .login-modal-box{
        .modal-dialog{
            .modal-content{
                .modal-body{
                    .row{
                        .col-md-6{
                            .login-form{
                                .card-body {
                                    padding:80px 30px 30px;
                                    .form-boxlog{
                                        .signup-btn{
                                            .singUp-link {
                                                margin-bottom:18px;
                                            }
                                        } 
                                    } 
                                }
                            } 
                        } 
                    } 
                } 
            } 
        } 
    }
    .section{
        &.application-slider{
            .slick-arrow{
                &.slick-next {
                    right:60%;
                }
            }
        } 
    } 
    .product-cover-banner{
        &.product-range-banner{
            .banner-content{
                h1 {
                    font-size:45px;
                    line-height:48px;
                }
            } 
        } 
    }
    .filter-box{
        padding:75px 20px;
    }
    .roadmape-section{
        &::after {
            content: "";
            position: absolute;
            bottom:122px;
            left: 0;
            width: 100%;
            height: 5px;
            background-color: #FDB02B;
        }
        .btm-year {
            bottom:80px;
            left: 20px;
        }
        .outer-slider-sec{
            padding:50px 0 140px 0;
            .yearly-slider{
                .single-slide {
                    max-width:280px;
                    min-width: 280px;
                    .card-body{
                        p {
                            max-width:100%;
                        }
                    } 
                    &.single-big {
                        max-width: 450px;
                        min-width: 450px;
                        .card-header{
                            min-width:110px;
                        }
                        .card-body{
                            min-width:300px;
                            padding:15px;
                            p {
                                max-width:100%;
                            }
                        } 
                    }
                }
            } 
        } 
    } 
    .location-tabs{
        .google-map{
            .denmark-address{
                .dk-btn {
                    left: 50%;
                    top:180px;
                    &.lnd-btn {
                        left: 50%;
                    }
                }
            } 
        } 
    } 
}

@media only screen and (max-width:480px){
    .section{
        &.application-slider{
            .slick-arrow{
                &.slick-next {
                    right:48%;
                }
            }
        } 
    }
    .btn{
        padding:12px 35px;
    }
    .get-intuch{
        .getLeft{
            overflow: hidden;
            max-height:250px;
            img {
                
                min-height:250px;
            }
        }
    }
    .news-detail-area{
        .category-date-box {
            max-width: 300px;
            padding:15px 20px;
        } 
        .news-content{
            p{
                a {
                    word-break: break-word;
                }
            } 
        }
    } 
    .loyalty-box{
        .card{
            .plus-items{
                .plus-btn {
                    .drop-box{
                        transform: translate3d(-120px, 42px, 0px) !important;
                    }
                }
            } 
        } 
    } 
    .drop-box{
        transform: translate3d(-139px, 42px, 0px) !important;
    }
    .complete-body{
        .chat-box{
            transform: translate3d(-180px, -52px, 0px) !important;
        }
    } 
}

@media only screen and (max-width:375px){
    .section{
        &.application-slider{
            .slick-arrow{
                &.slick-next {
                    right:42%;
                }
            }
        } 
    }
    .loyalty-box{
        .card{
            .plus-items{
                .plus-btn {
                    left:45%;
                    &.plus-btn-two {
                        left: 45%;
                    }
                    // .drop-box{
                    //     transform: translate3d(-61px, 42px, 0px) !important;
                    //     max-width:284px;
                    // }
                }
            } 
        } 
    } 
    .location-tabs{
        .google-map{
            .denmark-address{
                .dk-btn {
                    left:47%;
                    &.lnd-btn {
                        left:47%;
                    }
                }
            } 
        } 
    } 
    .complete-body{
        .chat-box{
            min-width:270px;
            max-width:270px;
        }
    } 
}

@media only screen and (max-width:360px){
    .product-cover-banner{
        &.product-range-banner{
            .banner-content{
                h1 {
                    font-size: 38px;
                    line-height: 44px;
                }
            } 
        } 
    }
    .location-tabs{
        .tab-lists{
            .nav-item{
                .nav-link{
                    font-size:14px;
                    line-height:18px;
                }
            } 
        } 
    } 
    
}
@media only screen and (max-width:320px){
    .section{
        &.application-slider{
            .slick-arrow{
                &.slick-next {
                    right:34%;
                }
            }
        } 
    }
    .loyalty-box{
        .card{
            .plus-items{
                .plus-btn {
                    left:45%;
                    &.plus-btn-two {
                        left: 45%;
                    }
                    .drop-box{
                        transform: translate3d(-106px, 42px, 0px) !important;
                        max-width:240px;
                    }
                }
            } 
        } 
    }
    .complete-body{
        .chat-box{
            transform: translate3d(-150px, -52px, 0px) !important;
        }
    } 
}