// $grid-gutter-width:60px;


$blue: #2CA3DB;
$orange:#FDB02B;
$lilla:#8E71B3;
$green:#47B95F;
$turkise:#1DBFD3;
$dark-blue:#005385;


$dark:#333333;
$Beige:#F2F0E4;
$Beige-fa:#FAF9F4;
$gray-f8:#F8F8F8;
$dark-3c:#3C3C39;
$gray-af:#AFAFAD;
$gray-bf:#BFBFBF;
$gray-99:#999999;



$fw-800:800;
$fw-700:700;
$fw-600:600;
$fw-500:500;
$fw-400:400;
$fw-300:300;






