@import "include";
@import "global";

.top-header{
    padding:11px 0;
    .container-fluid{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .logo{
           display: flex;
           align-items: center;
           a{
               text-decoration:none;
           }
        }
        .nav-header{
            display:flex;
            align-items: center;
            .nav{
                li{
                    margin:0 70px 0 0;
                    position: relative;
                    &.active{
                        &::after{
                            content:"";
                            width:100%;
                            height:3px;
                            background-color:$black;
                            position: absolute;
                            bottom: -31px;
                            left: 0;
                        }
                    }
                    a{
                        font-size:11px;
                        line-height:21px;
                        text-decoration: none;
                        color:$black;
                        text-transform:capitalize;
                    }
                    &:last-child{
                        
                        a{
                           background-color:#005385;
                           padding:11px 30px;
                           border-radius:26px;
                           color:$white;
                        }
                    }
                }
            }
        }
        .right-items{
            display:flex;
            align-items:center;
            min-width:160px;
            .login-link{
                font: size 13px;
                line-height:25px;
                font-weight:$fw-700;
                color:$dark;
                text-decoration:none;
                margin:0 22px 0 0;
            }
            .language-item{
                .dropdown-toggle{
                    border: none;
                    background-color: transparent;
                    font: size 13px;
                    line-height:25px;
                    font-weight:$fw-700;
                }
            }
        }
    }
}

.home-banner{
    position: relative;
    img{
        width:100%;
        max-height:739px;
        object-fit:cover;
    }
    .banner-content{
        position:absolute;
        top:0;
        left:0;
        padding-left:100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        .display-l1{
            color:$dark-3c;
            max-width:633px;
            font-weight:$fw-700;
        }
        p{
            max-width:448px;
            margin:20px 0 49px 0;
        }
        a{
            display:inline-block;
            background-color:$orange;
            color:$white;
            padding:11px 31px;
            max-width:140px;
            font-size:12px;
            line-height:17px;
        }
    }
}

.secret-ingredient{
    padding:160px 0 250px;
    .card{
       max-height:803px;
       overflow:visible;
        .next-success{
            padding:55px 0 0px;
            text-align:center;
            h3{
                padding:0 0 68px;
                span{
                   font-weight:$fw-700;
                }
            }
            p{
                max-width:820px;
                margin:auto;
                text-align:left;
                padding:0 0 114px;
            }
        }
        .video-block{
            padding:0px;
            border-radius:10px;
            position: relative;
            overflow: hidden;
            max-height:578px;
            .play-box{
                    display:flex;
                    align-items:center;
                    justify-content:center;
                    position:absolute;
                    top:0;
                    left:0;
                    width:100%;
                    height:100%;
                .play-item{
                    width:100px;
                    height:100px;
                    background-color:rgba(0,0,0,0.66);
                    border-radius:50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration:none;
                    transition:all 0.5s ease-in-out;
                    &:hover{
                        transform:scale(1.2);
                    }
                    i{
                        font-size:28px;
                        line-height:32px;
                        color:$white;
                    }
                }    
            }
            
        }
    }
    
}
.footer-section{
    background-color:lighten($blue, 30%);
    .container{
        .footer-logo{
            padding:80px 0 50px;
        }
        .footer-mid{
            padding-bottom:80px;
            border-bottom:1px solid $blue;
            .footer-items{
                margin-bottom:32px;
                p{
                    margin-bottom:0;
                    color:$dark-3c;
                    text-transform:capitalize;
                    font-size:14px;
                    line-height:21px;
                    &:first-child{
                        font-weight:700;
                    }
                }
                .food-search{
                    position:relative;
                    max-width:132px;
                    margin:29px 0 0;
                    input{
                        border:1px solid $dark-3c;
                        padding: 6.5px 40.5px 6.5px 7.5px;
                        border-radius:22px;
                        background-color:transparent;
                        max-width:132px;
                        font-size:12px;
                        color:$dark-3c;
                        &::-webkit-input-placeholder { /* Edge */
                            color:$dark-3c;
                          }
                          
                        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                            color:$dark-3c;
                          }
                          
                        &::placeholder {
                            color:$dark-3c;
                          }
                    }
                    img{
                        position:absolute;
                        right: 9px;
                        top:9px;
                        width:25px;
                    }
                }
                .social-icons{
                    padding:0;
                    margin:14px 0 60px;
                    li{
                        display:inline-block;
                        margin:0 9px 0 0;
                        a{
                            width:41px;
                            height:41px;
                            border-radius:50%;
                            border:1px solid $blue;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-decoration: none;
                            i{
                                font-size:20px;
                            }
                        }
                    }
                }
            }
            .latest-news{
                h4{
                   font-size:25px;
                   max-width:330px;
                   color:$dark-3c;
                   span{
                    font-weight:$fw-700;
                   } 
                }
                .news-form{
                    margin:50px 0 0;
                    max-width:380px;
                    position: relative;
                    .form-row{
                        margin:30px 0 26px 0;
                        position: relative;
                        .form-group{
                            input{
                               &:focus ~ span{
                                    transform:translateY(-32px);
                                    font-size:8px;
                               } 
                               &:valid ~ span{
                                transform:translateY(-32px);
                                font-size:8px;
                               } 
                            }
                            span{
                                position:absolute;
                                top:0;
                                left:0;
                                padding:5px 0;
                                display:inline-block;
                                pointer-events:none;
                                transition:0.3s;
                                color:$dark;
                                line-height:21px;
                            }
                        }
                    }
                }
            }
        }
        .footer-bottom{
            padding:12px 0;
            .privacy-policy{
                p{
                    font-size:11px;
                    line-height:21px;
                    margin-bottom:0;
                }
            }
            .bottom-logo{
                text-align:right;
            }
        }
    }
}

.success-next{
    padding:65px 0 300px;
    background-image:url(../../images/temp11.PNG);
    background-position:bottom;
    background-repeat: no-repeat;
    .tab-slide-section{
       .tabs-section{
            .we-strive{
                color:$black;
                h3{
                    margin-bottom:23px;
                    span{
                        font-weight:$fw-700;
                    }
                }
            }
            .tab-lists{
                padding:86px 0 0;
                margin:0;
                text-align:center;
                li{
                    display:inline-flex;
                    flex-wrap:wrap;
                    margin:0 16px 26px 0;
                    a{
                        border-color:$black;
                        color:$black;
                        &:hover{
                            background-color:$blue;
                            color:$white;
                            box-shadow:0 3px 12px rgba(0,0,0,0.29);
                            border-color:$blue;
                        }
                    }
                }
            }
            .step-circle{
                padding:0;
                margin:86px 0 0;
                text-align:center;
                li{
                    width:52px;
                    height:52px;
                    border-radius:50%;
                    border:1px solid $gray-af;
                    background-color:transparent; 
                    display: inline-flex;
                    align-items:center;
                    justify-content:center;
                    margin:0 8px 0 0;
                    cursor: pointer;
                    &.active{
                        border-color:$blue;
                        color:$blue;
                    }
                }
            }
            &:nth-child(2) , &:last-child{
                display:none;
            }
       }
    //    .slick-dots{
    //        li{
    //         width: 52px;
    //         height: 52px;
    //         margin: 0 4px;
    //         button{
    //             font-size:15px;
    //             line-height:48px;
    //             color:$gray-af;
    //             &::before{
    //              width:52px;
    //              height:52px;
    //              border-radius:50%;
    //              border:1px solid $gray-af;
    //              background-color:transparent;
    //              opacity:1;
    //             }
    //           }
    //           &.slick-active{
    //               button{
    //                   color:$blue;
    //                   font-weight:$fw-700;
    //                 &::before{
    //                     width:52px;
    //                     height:52px;
    //                     border-radius:50%;
    //                     border:1px solid $blue;
    //                     background-color:transparent;
    //                    }
    //               }
    //           } 
    //        }
    //    }
    }
}
.what-forme{
    padding:140px 0 0;
    h2{
        font-weight:$fw-700;
        margin:0 0 53px 0;
    }
    .col{
        text-align:center;
        .card{
            border-radius:10px;
            max-height: 108px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        h4{
            font-weight:$fw-700;
            margin:16px 0 0;
        }
    }
    .product-cards{
        padding:112px 0 160px;
        .card{
            margin-bottom:60px;
            .card-header{
                position: relative;
                img{
                    width:100%;
                }
                span{
                    padding:12px 26px;
                    border-radius:35px;
                    display:flex;
                    align-items:center;
                    justify-content:center;
                    position: absolute;
                    bottom: -24px;
                    right: 24px;
                    img{
                        max-width:30px;
                    }
                    &.bg-products{
                        background-color:$blue;
                    }
                    &.bg-quality{
                        background-color:$orange;
                    }
                    &.bg-know-how{
                        background-color:$lilla;
                    }
                    &.bg-innovation{
                        background-color:$green;
                    }
                    &.bg-partner{
                        background-color:$turkise;
                    }
                }
            }
            .card-body{
                padding:60px 40px;
                h3{
                    font-weight:$fw-700;
                }
                h5{
                    font-size:16px;
                    line-height:22px;
                    font-weight:$fw-700;
                    margin:19px 0 12px;
                }
                p{
                    max-width:400px;
                }
                a{
                    display:inline-flex;
                    align-items:center;
                    margin:42px 0 0;
                    color:$dark-3c;
                    text-decoration:none;
                    span{
                        font-size:16px;
                        line-height:22px;
                        font-weight:$fw-700;
                        display:inline-block;
                    }
                    i{
                        font-weight:$fw-600;
                        margin-left:13px;
                    }
                }
            }
            &.bg-blue-light{
                .card-body{
                    h3{
                        color:$blue;
                    }
                    a{
                        i{
                            color:$blue;
                        }
                    }
                }
            }
            &.bg-orange-light{
                .card-body{
                    h3{
                        color:$orange;
                    }
                    a{
                        i{
                            color:$orange;
                        }
                    }
                }
            }
            &.bg-lilla-light{
                .card-body{
                    h3{
                        color:$lilla;
                    }
                    a{
                        i{
                            color:$lilla;
                        }
                    }
                }
            }
            &.bg-green-light{
                .card-body{
                    h3{
                        color:$green;
                    }
                    a{
                        i{
                            color:$green;
                        }
                    }
                }
            }
            &.bg-turkise-light{
                .card-body{
                    h3{
                        color:$turkise;
                    }
                    a{
                        i{
                            color:$turkise;
                        }
                    }
                }
            }
        }
        .right-product-col{
            margin:150px 0 0;
        }
    }
}
.journey-step{
    padding:0 0 182px;
    .top-steps{
        h2{
            font-weight:$fw-700;
        }
        p{
            max-width:820px;
            padding:28px 0 158px;
            color:$black;
        }
    }
}
.latestNews-block{
    padding:160px 0;
    .card{
        margin-bottom:50px;
        border-radius:10px;
        .card-header{
            max-height:177px;
            overflow: hidden;
        }
        .card-body{
            padding:40px 32px;
            h5{
                font-weight:$fw-700;
                color:$dark;
                span{
                    font-weight:$fw-400;
                }
            }
            h3{
                font-weight:$fw-700;
                padding: 12px 0 29px;
                color:$dark;
            }
            p{
                color:$dark;
                max-width:425px;
                padding-bottom:40px;
            }
        }
    }
    .left-block-news{
        h2{
            font-weight:$fw-700;
            max-width:450px;
            margin-bottom:100px;
        }
        
    }
}
.application-section{
    padding:0 0  160px;
    .get-inspired{
        text-align:center;
        margin-bottom:98px;
        color:$black;
        h3{
            max-width:530px;
            margin:0 auto 30px;
        }
        p{
            max-width:562px;
            margin:auto;
        }
    }
    .left-application{
        position: relative;
        margin-bottom:12px;
        .single-img{
            img{
                border-radius:10px;
                width:100%;
                min-height:612px;
                object-fit:cover;
                
            }
        }
    }
    .right-application{
        position: relative;
        display:flex;
        flex-wrap: wrap;
        justify-content:space-between;
        margin-bottom:12px;
        .smallImg{
            width:50%;
            min-width: calc(50% - 6px);
            max-height:300px;
            max-width:300px;
            margin-bottom:12px;
            position: relative;
            img{
                border-radius:10px;
                width:100%;
                min-height:300px;
                max-height:300px;
                object-fit:cover;
            }
            .img-content{
                p{
                    max-width:194px;
                }
            }
        }
        .biglImg{
            width:100%;
            max-height:300px;
            position: relative;
            img{
                width:100%;
                border-radius:10px;
                max-height:300px;
                object-fit:cover;
            }
            .img-content{
                p{
                    max-width:194px;
                }
            }
        }
    }
    .seeAll-btn{
        text-align:center;
        margin:57px 0 0;
        a{
            min-width:612px;
        }
    }
    .filter-tab{
        margin-left:auto;
    }
}


// product page css start=================
.bring-next{
    padding:122px 0;
    text-align:center;
    color:$black;
    p{
        max-width:820px;
        margin:22px auto 0;
        text-align:left;
    }
}

.cheese-powder-sec{
    padding:0 0 160px;
    .container-fluid{
        display:flex;
        .singleBox{
            width:33.33%;
            background-color:$orange;
            min-height:598px;
            display:flex;
            align-items:center;
            justify-content:center;
            padding:40px;
            .inner-item{
                display:flex;
                align-items:center;
                justify-content:center;
                width:100%;
                h2{
                    color:$white;
                    font-weight:$fw-700;
                    max-width:130px;
                }
            }
            &.singleBox-two{
                background-image: url(../../images/app1.PNG);
                background-repeat:no-repeat;
                background-position:center;
                background-size:cover;
            }
            &.singleBox-three{
                background-image: url(../../images/app1.PNG);
                background-repeat:no-repeat;
                background-position:center;
                background-size:cover;
                .inner-item{
                    h2{
                        color:$dark-3c;
                    }
                }
            }
        }
    }
}
.what-benefit{
    .card{
        padding:27px 0 56px;
        .we-know{
            color:$black;
            margin-bottom:65px;
            h3{
                font-weight:$fw-700;
                margin:0 0 26px;
            }
            p{
                max-width:562px;
                margin:auto;
            }
        }
        .tabList{
            li{
                a{
                    color:$black;
                    border-color:$black;
                    &:hover{
                        background-color:$black;
                        color:$white;
                    }
                }
                
            }
        }
    }
}
.cleanlabel-section{
    padding:160px 0;
    h3{
        font-weight:$fw-700;
        margin-bottom:26px;
    }
    p{
        max-width:453px;
        margin-bottom:30px;
    }
    .card{
        max-width:570px;
    }
}
.secret-ingred-sec{
    padding:0 0 160px;
    h1{
        font-weight:$fw-700;
        font-size:54px;
        line-height:64px;
        max-width:504px;
    }
}
.application-section{
    .card{
        .card-body{
            padding:96px 0 104px;
        }
    }
}
.get-intuch{
    padding:0 0 160px;
    .getRight{
        h3{
            font-weight:$fw-700;
        }
        p{
            max-width:170px;
            color:$black;
            margin:30px 0 40px;
        }
    }
}
.why-cheese-powder{
    padding:0 0 160px;
    .why-left{
        h1{
            font-weight:$fw-700;
            max-width:335px;
            margin-bottom:26px;
        }
        p{
            max-width:400px;
            color:$dark;
        }
    }
    .colorBox{
        .card{
            margin-bottom:20px;
            min-height:246px;
            .card-body{
                display:flex;
                align-items:center;
                justify-content:center;
                .inner-box{
                    text-align:center;
                    h3{
                    font-weight:$fw-700;
                    margin-bottom:21px;
                    }
                    span{
                        width:40px;
                        height:40px;
                        border-radius:50%;
                        background-color:$white;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}
.product-blend-banner{
    padding:0 0 99px;
    .left-content{
        color:$dark;
        h1{
            font-weight:$fw-700;
            margin-bottom:26px;
            max-width:509px;
        }
        p{
            max-width:465px;
        }
    }
    .right-img{
        img{
            border-radius:0 0 10px 10px;
        }
    }
}
.complete-body{
    position:fixed;
    bottom:25px;
    right:25px;
    z-index:9;
    display: flex;
    align-items: center;
    .chat-circle{
        width:50px;
        height:50px;
        border-radius:50%;
        background-color:$blue;
        color:$white;
        display: inline-flex;
        align-items:center;
        justify-content:center;
        border: none;
        margin-right:11px;
    }
    .chat-box{
        border:none;
        min-width:294px;
        margin-bottom: 20px !important;
        box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
        padding:28px 20px;
        border-radius: 10px;
        .inner-chat{
            display:flex;
            align-items:center;
            .profile-img{
                position: relative;
                min-width:50px;
                margin-right:20px;
                img{
                    width:43px;
                    height:43px;
                    border-radius:50%;
                    
                }
                .chat-active{
                    width: 13px;
                    height: 13px;
                    border-radius: 50%;
                    display: inline-block;
                    position: absolute;
                    bottom: 4px;
                    right: 4px;
                    background-color: #47B95F;
                    border: 2px solid $white;
                    &.diss-active{
                        background-color:red;
                    }
                }
            }
            
            p{
                font-size:12px;
                line-height:20px;
                margin-bottom:0;
            }
        }
        
    }
    .up-scroll{
        width:50px;
        height:50px;
        border-radius:50%;
        background-color:$dark-blue;
        color:$white;
        display: inline-flex;
        align-items:center;
        justify-content:center;
        text-decoration:none;
    }
}

// join the team section css start
.open-position{
    padding:96px 0 0;
    h3{
        font-weight:$fw-700;
        margin-bottom:42px;
    }
    .single-job-box{
        margin-bottom:13px;
        .card-body{
            padding:41px 35px;
            .job-title{
                h4{
                    font-weight:$fw-700;
                }
            }
            .job-detail{
                p{
                    max-width:528px;
                    font-size:16px;
                    line-height:26px;
                }
            }
            .readMore-btn{
                text-align:right;
                a{
                    background-color:$white;
                    &:hover{
                        background-color:$blue;
                        color:$white;
                    }
                }
            }
        }
    }
}


//contact section css start====================
.how-can-section{
    padding:115px 0 160px;
    background-color:rgba($color: #F2F0E4, $alpha: 0.57);
    text-align:center;
    h1{
        font-weight:$fw-700;
    }
}
.location-tabs{
    padding:0 0 178px;
    position: relative;
    .tab-lists{
        justify-content: center;
        position: absolute;
        top: -60px;
        width: 100%;
        z-index:1;
        .nav-item{
            .nav-link{
                font-size:15px;
                line-height:20px;
                color:$dark-3c;
                padding:35px 34px 34px;
                background-color:$Beige;
                max-width:206px;
                &:hover{
                    background-color:lighten($blue , 30%);
                    color:$blue;
                }
                &.active{
                    background-color:lighten($blue , 30%);
                    color:$blue;
                    font-weight:$fw-700;
                }
            }
            &:first-child{
                .nav-link{
                    border-radius:10px 0 0 10px;
                }
            }
            &:nth-child(2){
                .nav-link{
                    border-radius:0px;
                    border-left:1px solid $white;
                    border-right:1px solid $white;
                }
            }
            &:last-child{
                .nav-link{
                    border-radius:0 10px 10px 0;
                }
            }
        }
    }
    .location-specialist{
        padding:174px 0 0;
        .special-box{
            margin: 0 0 34px;
            .card-header{
                position: relative;
                img{
                    width:100%;
                    border-radius:10px;
                }
                .location-tag{
                    border-radius: 55px;
                    padding: 3px 16px;
                    font-size: 12px;
                    line-height: 24px;
                    font-weight: 700;
                    background-color: #C0E4F4;
                    position: absolute;
                    right: 13px;
                    bottom: 13px;
                    display: inline-block;
                    min-width: 55px;
                    text-align: center;
                    &.tag-DE{
                        background-color:lighten($orange , 30%);
                    }
                    &.tag-UK{
                        background-color:lighten($green , 30%);
                    }
                }
            }
            .card-body{
                padding:22px 0;
                p{
                    font-size:14px;
                    line-height:24px;
                    margin: 0px;
                    color:$dark;
                    span{
                        display:block    ;
                    }
                }
            }
        }
    }
    .google-map{
        position: relative;
        .denmark-address{
            .dk-btn{
                position:absolute;
                top:274px;
                left:60%;
                button{
                    width:31px;
                    height:31px;
                    border-radius:50%;
                    box-shadow:0px 3px 6px rgba(0,0,0,0.29);
                    background-color:$orange;
                    border: none;
                    display:flex;
                    align-items:center;
                    justify-content:center;
                    i{
                        font-size:14px;
                        line-height:20px;
                        font-weight:$fw-400;
                    }
                }
                .drop-box{
                    p{
                        font-size:15px;
                        line-height:20px;
                        margin-bottom:20px;
                        color:$black;
                        &:last-child{
                            margin-bottom:0px;
                        }
                        span{
                            display:block;
                            a{
                                color:$black;
                                text-decoration:none;
                            }
                        }
                    }
                    .close-btn{
                        position:absolute;
                        top:10px;
                        right:13px;
                        cursor:pointer;
                        i{
                            font-size:14px;
                            line-height:20px;
                            font-weight:$fw-700;
                            color:$black;
                        }
                    }
                }
                &.lnd-btn{
                    top:509px;
                    left:25%;
                }
            }
        }
    }
    .find-distributor{
        padding:121px 0 0px;
        h2{
            font-weight:$fw-700;
        }
        .choose-country{
            margin:39px 0 0;
            select{
                appearance: none;
                background-color:lighten($blue , 30%);
                color:$blue;
                padding:15px 60px 15px 45px;
            }
        }
        .single-country-list{
            margin:50px 0 70px;
            border-bottom:1px solid $gray-bf;
            padding: 0 0 70px;
            &:last-child{
                border-bottom:none;
                padding-bottom:0;
                margin-bottom:0;
            }
            h4{
                font-weight:$fw-700;
                margin:0 0 56px;
            }
            .country-title{
                h5{
                    font-weight:$fw-700;
                    font-size:16px;
                    line-height:22px;
                }
            }
            .country-add{
                h5{
                    font-size:16px;
                    line-height:22px;
                    b{
                        display:block;
                        font-weight:$fw-600;
                    }
                    span{
                        display:block;
                    }
                }
            }
            .country-contact{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
                h5{
                    font-size:16px;
                    line-height:22px;
                    margin:0;
                    span{
                        display:block;
                    }
                }
            }
            .view-web{
                text-align:right;
            }
        }
    }
    .contact-form-section{
        padding:174px 0 0;
        .contact-info{
            margin:77px 0 0;
            h3{
                font-weight:$fw-700;
                color:$black;
                margin-bottom:15px;
            }
            p{
                color:$black;
                max-width:385px;
                margin-bottom:33px;
            }
            .office-info{
                p{
                    color:$dark;
                    b{
                        font-weight:$fw-700;
                        display:block;
                    }
                    span{
                        display:block;
                    }
                }
            }
        }
        .receive-form{
            .card-body{
                padding:77px 64px 55px;
                .upper-title{
                    color:$black;
                    h4{
                        font-weight:$fw-700;
                    }
                    p{
                        max-width:385px;
                        font-size:14px;
                        line-height:21px;
                    }
                }
                .detail-info-form{
                    .form-row{
                        margin:0 0 25px;
                        .form-group{
                            .outline-drak{
                                border-bottom:1px solid #707070;
                                color:$dark;
                                &::-webkit-input-placeholder { /* Edge */
                                    color:#999999;
                                }
                                &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                                    color:#999999;
                                }
                                &::placeholder {
                                    color:#999999;
                                }
                                &:focus{
                                    color:$dark;
                                    font-weight:$fw-400;
                                    &::-webkit-input-placeholder { /* Edge */
                                        color:$dark;
                                        font-weight:$fw-400;
                                    }
                                    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                                        color:$dark;
                                        font-weight:$fw-400;
                                    }
                                    &::placeholder {
                                        color:$dark;
                                        font-weight:$fw-400;
                                    }
                                }
                            }
                            textarea{
                                resize:none;
                            }
                            .custom-radio{
                                .form-check-input{
                                    border-radius:5px;
                                    width:15px;
                                    height:15px;
                                    &:checked{
                                        border-color:$blue;
                                        background-image:url(../../images/circle-blue.svg);
                                      }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


//application page css start==============
.application-banner{
    padding:119px 0;
    h2{
        color:$dark;
        span{
            display:block;
            font-weight:$fw-700;
            margin-bottom:20px;
        }
    }
    p{
        max-width:800px;
        margin-bottom:30px;
        color:$dark;
        &:last-child{
            margin-bottom:0;
        }
    }
}
.familiar-with{
    padding:96px 0 221px;
    background-image: url(../../images/temp11.PNG);
    background-position: bottom;
    background-repeat: no-repeat;
    margin:0 0 160px;
    .inner-fam{
        text-align:center;
        color:$black;
        h3{
            span{
                font-weight:$fw-700;
            }
        }
        p{
            padding:26px 0 71px;
            max-width:562px;
            margin:auto;
        }
        .btn-item{
            .btn{
                min-width:196px;
                margin-right:12px;
                &:last-child{
                    margin-right:0;
                }
                &.btn-warning{
                    color:$white;
                }
            }
        }
    }
}


// login modal box css start
.login-modal-box{
    background-color:#c3c3c3;
    .modal-content {
        border-radius:10px;
        max-width: 1050px;
        margin: auto;
        border:none;
        .modal-body{
            padding:0;
            .left-box{
                border-radius:10px 0 0 10px;
                height:100%;
                .card-body{
                    padding: 81px 72px;
                    display:flex;
                    align-items:center;
                    justify-content:center;
                    img{
                        border-radius:10px;
                    }
                }
            }
            .login-form{
                border-radius:0 10px 10px 0;
                position: relative;
                .modal-close-icon{
                    position:absolute;
                    top:18px;
                    right:21px;
                    color:$black;
                    font-size:16px;
                    line-height:37px;
                    font-weight:$fw-700;
                    cursor:pointer;
                }
                .card-body{
                    padding:75px 42px 65px;
                    h3{
                        text-align:center;
                        font-weight:$fw-700;
                        color:$black;
                        margin:0;
                    }
                    .form-boxlog{
                        padding:55px 0 0;
                        position: relative;
                        .form-row{
                            position: relative;
                            .form-group{
                                .input-beigen-light{
                                    padding:20px 24px 11px;
                                    &:focus ~ span{
                                        transform:translateY(-12px);
                                        font-size:8px;
                                   } 
                                   &:valid ~ span{
                                    transform:translateY(-12px);
                                    font-size:8px;
                                   } 
                                }
                                span{
                                    position: absolute;
                                    top: 15px;
                                    left:24px;
                                    font-size: 14px;
                                    line-height: 19px;
                                    pointer-events:none;
                                    transition:0.3s;
                                }
                            }
                            &.password-forgot{
                                display:flex;
                                .custom-radio{
                                    display: flex;
                                    align-items: center;
                                    .form-check-input{
                                        width:11px;
                                        height:11px;
                                        border-radius:2px;
                                        border:1px solid #EDEDED;
                                        &:checked{
                                            border-color:$blue;
                                            background-image:url(../../images/circle-blue.svg);
                                        }
                                    }
                                    .form-check-label{
                                        font-size:12px;
                                        line-height:26px;
                                        color:$dark;
                                    }
                                }
                                .forgot-link{
                                    text-align:right;
                                    a{
                                        font-size:12px;
                                        line-height:26px;
                                        color:$gray-99; 
                                        font-weight:$fw-700;
                                        text-decoration:none;
                                    }
                                }
                            }
                        }
                        .signup-btn{
                            text-align:center;
                            margin:29px 0 0;
                            .btn-primary-dark{
                                margin:0 0 14px;
                            }
                            .singUp-link{
                                text-decoration:none;
                                font-size:14px;
                                line-height:26px;
                                color:$gray-99;
                            }
                        }
                    }
                }
            }
        }
    }
}


// filter box css start====================
.filter-box{
    background-color:$white;
    max-width:452px;
    position:fixed;
    left:0;
    top:0;
    min-height:100%;
    height: -webkit-fill-available;
    width:100%;
    box-shadow:0 5px 20px rgba(0,0,0,0.21);
    padding:75px;
    z-index:9;
    display:none;
    transition:0.3s;
    .close-filter{
        cursor: pointer;
        font-size:15px;
        line-height:25px;
        font-weight:$fw-700;
        color:$black;
        position:absolute;
        top:20px;
        right:20px;
    }
    .filter-single-block{
        .filter-title{
            font-weight:$fw-700;
            color:$black;
            padding:22px 0;
        }
        .filter-list{
            padding:0;
            margin:0;
            li{
                display:flex;
                justify-content:space-between;
                margin:0 0 8px;
                .custom-checkbox{
                    display: flex;
                    .form-check-input{
                        width:17px;
                        height:17px;
                        min-width:17px;
                        border-radius:3px;
                        margin-right:13px;
                        &:checked{
                            background-image:url(../../images/circle-blue.svg);
                            border-color:$blue;
                            background-size:18px;
                        }
                    }
                    .form-check-label{
                        color:$black;
                        font-size:15px;
                        line-height:initial;
                    }
                }
                span{
                    font-size:12px;
                    color:$gray-99;
                }
                &:last-child{
                    margin:0;
                }
            }
        }
    }
    .save-button{
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        border-radius: 10px 10px 0 0;
        padding:18px auto 27px;
        &:hover{
            background-color:darken($blue , 5%);
            color:$white;
        }
    }
    &.application-fliter-box{
        margin-left:auto;
        right:0;
    }
}

.panel-active{
    overflow: hidden;
    .offcanvas-overlay {
        position: fixed;
        height: 100vh;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        -webkit-backdrop-filter: saturate(180%) blur(5px);
        backdrop-filter: saturate(180%) blur(5px);
        background: rgba(0, 0, 0, 0.25);
        z-index:8;
    }
} 


//application bread pastry page css start

.bread-pastry-banner{
    padding:98px 0;
    .left-content{
        color:$black;
        .btn-primary{
            margin:0 0 67px;
        }
        h1{
            font-weight:$fw-700;
        }
        p{
            max-width:453px;
        }
    }
    .right-img{
        img{
            border-radius:10px;
        }
    }
}
.test-function{
    padding:41px 0;
    color:$dark;
    .function-sec{
        max-width:904px;
        margin-left:auto;
        h3{
            font-weight:$fw-700;
            margin:0 0 26px;
        }
        h4{
            margin:0 0 30px;
            max-width:800px;
        }
        .top-flavours{
            padding:110px 0 80px;
            h4{
                font-weight:$fw-700;
                max-width:600px;
                color:$dark;
            }
            .spot-box{
                padding:0;
                li{
                    display:inline-flex;
                    align-items: center;
                    margin-right:34px;
                    &:last-child{
                        margin-right:0;
                    }
                    span{
                        border-radius:20px;
                        width:38px;
                        height:12px;
                        background-color:$lilla;
                        display: inline-block;
                        margin-right:8px;
                        &.bg-orange{
                            background-color:$orange;
                        }
                        &.bg-blue{
                            background-color:$blue;
                        }
                        &.bg-green{
                            background-color:$green;
                        }
                        &.bg-dark-blue{
                            background-color:$dark-blue;
                        }
                    }
                    p{
                        font-size:16px;
                        line-height:30px;
                        margin:0px;
                    }
                }
            }
            .progress-items{
                margin:42px 0 0;
                .item-name{
                    p{
                        font-size:14px;
                        line-height:16px;
                        color:$dark;
                        font-weight:$fw-700;
                    }
                }
                .item-percente{
                    text-align:right;
                    p{
                        font-size:16px;
                        line-height:18px;
                        color:$dark;
                        margin-bottom:12px;
                    }
                }
            }
        }
        .top-card{
            .card-body{
                padding:32px 50px;
                i{
                    font-size:30px;
                    line-height:30px;
                    font-weight:$fw-700;
                    color:$blue;
                }
                p{
                    margin:0;
                }
            }
        }
    }
}
.german-sandwich{
    padding:140px 0 130px;
    .left-img{
        img{
            border-radius:10px;
        }
    }
    .right-content{
        h3{
            font-weight:$fw-700;
            margin-bottom:28px;
        }
        p{  
            max-width:442px;
            margin-bottom:59px;
            &:last-child{
                margin-bottom:0;
            }
        }
    }
}

.loyalty-box{
    padding:0 0 140px;
    .card{
        position: relative;
        .plus-items{
            .plus-btn{
                position:absolute;
                top:85px;
                left:70%;
                .circle-btn{
                    width:40px;
                    height:40px;
                    border-radius:50%;
                    display:flex;
                    align-items:center;
                    justify-content:center;
                    background-color:$blue;
                    border:none;
                    box-shadow:0px 3px 6px rgba(0,0,0,0.29);
                    color:$white;
                    &.show{
                        i{
                            transform:rotate(45deg);
                        }
                    }
                    i{
                        font-size:12px;
                        transition:0.3s;
                    }
                }
                .drop-box{
                    margin:16px 0 0 !important;
                    padding:39px 22px 39px 35px;
                    color:$black;
                }
                &.plus-btn-two{
                    top:260px;
                    left:18%;
                }
                &.plus-btn-three{
                    top:380px;
                    left:80%;
                }
            }
        }
    }
}


// news and trends css start======================
.news-trend-banner{
    padding:126px 0 176px;
    h2{
        font-weight:$fw-700;
        margin:0 0 30px;
        color:$dark;
    }
    p{
        max-width:700px;
        color:$black;
    }
}


.all-category-tab{
    padding:0 0 160px;
    .popular-items{
        display:flex;
        align-items:center;
        justify-content:flex-end;
        p{
            margin:0;
        }
        select{
            border:none;
            font-weight:$fw-700;
            padding:5px;
        }
    }
    .product-list-box{
        margin:30px 0;
        .product-img{
            img{
                border-radius:20px 0 0 20px;
            }
        }
        .product-detail{
            color:$dark;
            p{
                font-size:16px;
                line-height:26px;
                max-width:570px;
                b{
                    font-weight:$fw-700;
                }
            }
            h3{
                font-weight:$fw-700;
                margin:0 0 21px;
            }
            .btn-primary{
                margin:30px 0 0;
            }
        }
    }
    .newslatter-signup{
        padding:160px 0;
        .card{
            .left-img{
                background-color:$Beige;
                border-radius:20px 0 0 20px;
                min-height:100%;
                padding:110px 98px;
                display:flex;
                align-items:center;
                justify-content:center;
                img{
                    border-radius:10px;
                    max-width:508px;
                }
            }
            .newslatter-box{
                padding:0 74px 0 66px;
                h3{
                    font-weight:$fw-700;
                    margin:0 0 19px 0;
                    color:$black;
                }
                p{
                    color:$black;
                    max-width:330px;
                }
                .newslatter-form{
                    .form-row{
                        margin-bottom:20px;
                        .form-group{
                            input{
                                &::-webkit-input-placeholder { /* Edge */
                                    color:$gray-99;
                                  }
                                  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                                    color:$gray-99;
                                    }
                                  &::placeholder {
                                      color:$gray-99;
                                    }
                                &:focus{
                                    &::-webkit-input-placeholder { /* Edge */
                                        color:$dark;
                                        font-weight:$fw-400;
                                      }
                                      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                                        color:$dark;
                                        font-weight:$fw-400;
                                        }
                                      &::placeholder {
                                          color:$dark;
                                          font-weight:$fw-400;
                                      }
                                }
                            }
                        }
                    }
                    .btn-primary{
                        margin:30px 0 0;
                    }
                }
            }
        }
    }
}