@media screen and (min-width:1550px) and (max-width:1680px){
  h1 , .h1{
    font-size:54px;
    line-height:58px;
  }
  h2, .h2 {
    font-size: 46px;
    line-height:50px;
  }
  h3, .h3 {
    font-size: 40px;
    line-height:44px;
  }
}
@media screen and (max-width:1440px){
  .card-img-overlay {
    padding:25px;
  }
  .card-body{
    padding:25px;
  }
  h1 , .h1{
    font-size:54px;
    line-height:58px;
  }
  h2 , .h2{
    font-size:44px;
    line-height:48px;
  }
  h3 , .h3{
    font-size:36px;
    line-height:40px;
  }
}
@media screen and (max-width:1330px){
  h1 , .h1{
    font-size:46px;
    line-height:50px;
  }
  h2 , .h2{
    font-size:40px;
    line-height:44px;
  }
  h3 , .h3{
    font-size:34px;
    line-height:38px;
  }
  h4 , .h4{
    font-size:30px;
    line-height:34px;
  }
  h5, .h5 {
    font-size: 28px;
    line-height: 32px;
  }
  h6, .h6 {
    font-size: 20px;
    line-height:24px;
  }
  .card-img-overlay{
    padding:20px;
  }
  .card-body{
    padding:20px;
  }
}
@media screen and (max-width: 1024px) {
  .card-body {
    padding: 20px;
    .icon-wrapper {
      margin: 20px 0px 0;
      .icon-item {
        padding: 20px 0;
      }
    }
  }
  .footer {
    padding-top: 100px;
    .download-section .download-app {
      .app-content {
        .app-icon {
          width: 60px;
          height: 60px;
        }
      }
      .icons .btn {
        width: 40px;
        height: 40px;
        margin-left: 20px;
      }
    }
    // .newsletter-content {
    //   display: none;
    // }
    .footer-links {
      margin-bottom: 86px;
    }
  }
  .card-img-overlay {
    padding:20px;
  }

  .section{
    .section-header{
      .h1, h2, .h2 {
        max-width: 750px;
      }
    } 
  }
  .suite-icons{
    .item {
      margin: 0 20px 30px;
    }
  }
  .payroll-banner-section{
    .join-us-form{
      h1 , .h1 {
        max-width: 800px;
      }  
    } 
  }
  .stories{
    padding-top:50px;
  }
  .newsroom{
    padding:100px 0 50px;
    .news-items {
      margin-bottom:40px;
    }
  }
  .why-us{
    .card-section{
      .card{
        .card-body{
          .why-us-inner {
            min-height:450px;
            .video-bg {
              height:350px;
            } 
          }
        }
      } 
    } 
  }
  // .icon-wrapper{
  //   .icon-item{
  //     .icon{
  //       .svg-icon {
  //         svg{
  //           width:80px;
  //         }
  //       }
  //     } 
  //   } 
  // }
  .save-time{
    .bg-dark{
      .card-body{
        .get-list{
          li{
            .circle-g {
              width: 35px;
              height: 35px;
              i{
                font-size:16px;
              }
            }
          } 
        } 
      } 
    } 
  } 
  .save-time{
    .union-agreement{
      .card-body{
        .bottom{
         img{
          max-width:180px;
         }
        }
      }
    }
  }
  .automated-section{
    .integration-sec h2 , .h2 {
      max-width:600px;
    }
  }
  .feature-section{
    padding:100px 0;
  } 
  .why-us {
    padding:100px 0;
  } 
  .common-main-sec{
    padding:24px 0;
  }  
  .why-us{
    .card-section{
      .card{
        .video-bg{
          iframe{
            top:-10px !important;
          }
        } 
      } 
    } 
  } 
}
@media screen and (max-width: 992px) {
  .page-header {
    padding-top: 20px;
    padding-bottom: 19px;
    .logo {
      img {
        height: 20px;
      }
    }
    .nav-header {
      .nav {
        display: none;
      }
    }
    .right-items .btn-menu-toggle {
      height: 20px;
    }
  }
  .container {
    padding: 0 22px;
  }
  .product-section {
    .card-section {
      .row > * {
        margin-bottom: 40px;
      }
    }
    .card {
      min-height:620px;
    }
  }
  .hero-section {
    .hero-content {
      .section-heading {
        font-size: 36px;
        line-height: 40px;
      }
    }
  }
  .newscard .news {
    flex-direction: column;
    .news-thumb {
      max-width: 100%;
    }
  }
  .newsroom {
    padding-top:100px;
    .baseline {
      justify-content: start;
      align-items: start;
      margin-top: 16px;
    }
    .row > * {
      margin: 20px 0;
      // &:first-child {
      //   margin-top: 0;
      // }
    }
    .news-items{
      margin-bottom:0px;
    }
  }

  .suite-section {
    padding: 50px 0;
    .suite-icons .item {
      margin-bottom: 2rem;
    }
  }
  .footer {
    .footer-links {
      & > .row > .col {
        flex: 1 0 100%;
      }
      .left-fs-col {
        flex: 1 0 40%;
      }
      .right-col-sec {
        flex: 1 0 15%;
        .col-md-12 {
          flex: 1 0 25%;
        }
      }
      .footer-logo-V {
        display: none;
      }
      .footer-title-h {
        display: flex;
        justify-content: space-between;
        width: 100%;
        border-top: 2px solid $gray-900;
        margin-bottom: 0;
        padding: 19px 0;
        align-items: center;
        font-size: 16px;
        line-height: 22px;
        &.footer-title-ss {
          border-bottom: 2px solid $gray-900;
        }
        i {
          font-weight: 600;
          font-size: 14px;
          display: block;
        }
      }
      ul {
        display: none;
      }
    }
    .download-section .download-app {
      margin-bottom: 24px;
    }
    // .newsletter-content {
    //   display: none;
    // }
    .download-section {
      .col {
        flex: 1 0 100%;
        .download-app {
          flex-direction: column;
          margin-bottom: 30px;
          .app-icon {
            height: 60px;
            width: 60px;
            margin: 0 0 20px 0;
          }
          .app-content {
            flex-direction: column;
            .text {
              text-align: center;
              h6 {
                font-size: 18px;
                line-height: 24px;
                .text-people {
                  color: $white;
                }
                .text-expense {
                  color: $white;
                }
              }
            }
          }
          .icons {
            width: 100%;
            justify-content: center;
            margin-top: 20px;
            .btn {
              margin: 0px 16px 0 0;
              width: 40px;
              height: 40px;
              &:last-chils {
                margin-right: 0;
              }
            }
          }
        }
      }
    }
    .footer-bottom .f-last .details li {
      padding: 0 3px;
      white-space: nowrap;
      &::after {
        margin-left: 6px;
      }
    }
    .footer-bottom {
      .f-last {
        .details {
          li {
            &:first-child {
              margin-left: 0px;
              display: none;
            }
            &:nth-child(2) {
              padding-left: 0;
              margin-left: 0;
            }
          }
        }
      }
    }
  }
  .stories {
    .baseline {
      justify-content: start;
      align-items: start;
      margin-top: 16px;
    }
    .team-blue-sec {
      .right-slider-teamblue {
        padding: 15px;
        .slider-box {
          img {
            margin: 0 0 15px 0;
          }
          h6{
            font-size:18px;
            line-height:22px;
          }
          .d-team {
            margin: 0 0 20px 0;
            h6 {
              font-size: 16px;
              line-height: 20px;
            }
          }
        }
      }
      .slick-dots {
        width: 100%;
        bottom: -20px;
      }
    }
  }
  .zenegy-product {
    .card {
      &.payroll-sec {
        .card-body {
          padding: 20px;
          text-align:center;
        }
        .hr-sec {
          margin-bottom: 20px;
          .p-title{
            justify-content:center;
          }
          .btnBox {
            margin-bottom:56px;
          }
        }
      }
    }
    .we-make-sec {
      .col-lg-6:first-child {
        margin-bottom: 40px;
      }
    }
    .weMake-account {
      .make-account-l {
        img {
          border-radius: 24px 24px 0 0;
        }
      }
    }
  }
  .why-us {
    .card-section {
      .row > * {
        margin-bottom: 40px;
      }
    }
  }
  .why-us{
    .card-section{
      .card{
        .video-bg{
          video {
            top: 16px;
          }
        } 
      } 
    } 
  }
  .card{
    .content-center {
      height: calc(100% - 47px);
    } 
  }
  .save-time{
    .card{
      min-height:720px;
    }
  }
  .why-us{
    .card-section{
      .card{
        .video-bg{
          iframe{
            top:-50px !important;
          }
        } 
      } 
    } 
  } 
}

@media screen and (max-width: 768px) {
  .product-page {
    .sub-header {
      .nav-header {
        width: calc(100% - 230px);
        justify-content: flex-end;
        display: none; // hidden on mobile
        .nav {
          li {
            display: none;
            &.dropdown {
              display: block;
              ul {
                li {
                  display: block;
                  a {
                    color: $gray-900;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  h1 {
    br {
      display: none;
    }
  }
  .why-us{
    .card-section{
      .card{
        .video-bg{
          video {
            top: 10px;
          }
        } 
      } 
    } 
  }
  .automated-section{
    .paralex-icon-section{
      .icon-list{
        &:nth-child(8){
          top:480px;
        }
      }
    } 
  }
  .custome-checkbox{
    justify-content:end;
  }
  .why-us{
    .card-section{
      .card{
        .video-bg{
          iframe{
            top:-68px !important;
          }
        } 
      } 
    } 
  } 
}

@media screen and (max-width: 767px) {
  .stories {
    .team-blue-sec {
      .left-teamblue {
        img {
          border-radius: 24px 24px 0 0;
          max-height: 100%;
        }
      }
      .right-slider-teamblue {
        padding: 15px;
        max-width: 600px;
        .slick-dots li {
          width: 40px;
        }
      }
    }
  }
  .zenegy-product {
    .card {
      &.payroll-sec {
        .card-body {
          padding:40px 20px;
          .hr-sec {
            margin: 0 0 40px 0;
          }
        }
      }
    }
  }
  .zenegy-product {
    .weMake-account {
      .make-account-l {
        img {
          border-radius: 24px 24px 0 0;
        }
      }
    }
  }
  .card {
    margin-bottom: 30px;
    height: auto;
  }
  .why-us {
    padding: 100px 0;
    // .card{
    //   .card-img{
    //     min-height:510px;
    //   }
    // }
  }
  .payroll-banner-section {
    img {
      min-height: 460px;
      object-fit: cover;
    }
  }
  .why-us{
    .card-section{
      .card{
        .video-bg{
          video {
            top: 15px;
          }
        } 
      } 
    } 
  }
  .stories{
    .team-blue-sec{
      .left-teamblue{
        img {
          min-height: 100%;
       }
      }
      .right-slider-teamblue{
        .slick-dots {
          bottom: 0;
          padding-top:30px;
        } 
      } 
    }  
  }
  .payroll-banner-section{
    .join-us-form{
      .company-form-section{
        .col{
          .form-group {
            padding: 0;
          }
        } 
      } 
    } 
  }
  .feature-section{
    &.pricing-section{
      .payroll-feature-section{
        .accordian-box{
          .accordian-content{
            .payroll-price-sec {
              .box-m{
                padding-left:0;
                padding-right:0;
              }
            }
          } 
        } 
      } 
    }  
  }  
}

@media screen and (min-width: 600px) and (max-width: 730px) {
  .footer {
    .footer-bottom {
      .f-last {
        flex-wrap: wrap;
      }
    }
  }
}
@media screen and (max-width: 599px) {
  .page-header {
    padding-top: 20px;
    padding-bottom: 20px;
    .nav-header {
      .nav {
        display: none;
      }
    }
    .logo {
      width: 20px;
      overflow: hidden;
    }
  }
  .partner-section {
    .product-slider {
      .item {
        img {
          max-width: 220px;
          margin: auto;
        }
      }
    }
  }
  .section {
    .section-header {
      .h1 {
        font-size: 36px;
        line-height: 40px;
        br {
          display: none;
        }
      }
    }
  }
  .product-section {
    padding: 50px 0;
    overflow: hidden;
    .btn-box {
      .btn {
        padding: 10px 20px;
        &:first-child {
          margin: 0 0 16px 0;
        }
        &:not(:first-child) {
          margin-left: 0;
        }
      }
    }
  }
  .suite-section {
    .suite-icons .item {
      flex: 0 1 calc(50% - 60px);
    }
    .screen-toggle {
      margin-top: 50px;
    }
  }
  .card {
    margin-bottom:20px;
    height: auto;
    .card-body {
      padding: 20px;
      .icon-wrapper {
        margin: 40px 0 0;
        justify-content: space-around;
        .icon-item {
          padding: 0;
          width: auto;
          margin-bottom: 20px;
        }
      }
    }
  }
  .nav-panel {
    padding: 20px 22px;
    .top-area .np-header {
      margin-bottom: 30px;
    }
    .top-area .scrollable {
      height: calc(100vh - 170px);
    }
    .bottom-area {
      .list {
        li {
          &.list-item {
            display: none;
          }
          &.dropdown {
            display: block;
          }
        }
      }
      padding: 0 22px 20px;
    }
  }
  .footer {
    padding-top: 60px;
    .download-section {
      margin-bottom: 50px;
      .download-app {
        display: block;
        text-align: center;
        padding: 30px;
        flex-direction: column;
        margin-bottom: 30px;
        .app-content {
          display: block;
          margin-bottom: 20px;
          flex-direction: column;
          .text {
            text-align: center;
            h6 {
              font-size: 18px;
              line-height: 24px;
              .text-people {
                color: $white;
              }
              .text-expense {
                color: $white;
              }
            }
          }
        }
        .app-content {
          .app-icon {
            height: 60px;
            width: 60px;
            margin: 0 0 20px 0;
          }
        }

        .icons {
          width: 100%;
          justify-content: center;
          margin-top: 20px;
          .btn {
            margin: 0px 16px 0 0;
            width: 40px;
            height: 40px;
            border-radius: 1.5rem;
            margin: 0 8px;
            &:last-chils {
              margin-right: 0;
            }
          }
        }
      }
    }
    .footer-links {
      margin-bottom: 60px;
    }
    .footer-bottom {
      .f-nav {
        width: 100%;
        flex-direction: column;
        .nav-links {
          width: 100%;
          margin-bottom: 30px;
        }
        .pwc {
          width: 100%;
          color: $white;
        }
      }
      .f-last {
        flex-direction: column;
        .dropdown {
          width: 100%;
          margin: 16px 0 0;
        }
        .details {
          flex-wrap: wrap;
          li {
            margin: 0 0 12px 0;
            display: block;
            border-right: transparent;
            width: 100%;
            padding: 0;
            &::after {
              display: none;
            }
          }
        }
      }
    }
  }
  .zenegy-product {
    .card {
      &.payroll-sec {
        .card-body {
          .hr-sec {
            .btnBox {
              a {
                display: inline-block;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
  .common-main-sec {
    .btnBox {
      .btn {
        margin: 0 0 15px 0;
      }
    }
  }
  h1 , .h1 {
    font-size:40px;
    line-height: 40px;
  }
  h2 , .h2 {
    font-size: 34px;
    line-height: 38px;
    margin-bottom: 30px;
  }
  h3 , .h3{
    font-size:30px;
    line-height:34px;
    margin-bottom:20px;
  }
  h4, .h4 {
    font-size:26px;
    line-height:30px;
  }
  h5, .h5 {
    font-size: 22px;
    line-height:26px;
  }
  h6, .h6{
    font-size:20px;
    line-height:24px;
  }
  .save-time {
    .bg-dark {
      .card-body {
        .get-list {
          li {
            margin: 0 15px 0 0;
            .circle-g {
              width: 40px;
              height: 40px;
              i {
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
  .payroll-banner-section {
    .card-img-overlay {
      padding-top: 20px;
    }
  }
  .zenegy-product{
    .weMake-account{
      .make-account-l{
        img {
          min-height: 100%;
        }
      } 
    } 
  }
  .footer{
    .newsletter-content{
      .newslatter-form{
        .col {
          padding: 0;
        }
      } 
    }  
  }
  .custome-checkbox{
    align-items: end;
  }
  .why-us{
    .card-section{
      .card{
        .card-img{
          min-height:600px;
        }
        .card-body{
          .why-us-inner {
            min-height: 100%;
          }
        } 
      } 
    } 
  }
  .product-section{
    &.accounts{
      .section-header{
        .btn-box{
          a{
            padding: 16px;
          } 
        } 
      } 
    }  
  }
  .save-time{
    .card{
      &.bank-danske{
        .card-img{
          // min-height: 500px;
        }
      }
    }
  } 
  .easy-book-keep{
    .card-body{
      display:flex;
      flex-direction:column;
      justify-content:space-between;
      p{
        text-align:center;
      }
    }
  }
  .save-time{
    &.expense-management{
      .card{
        &.bg-theme{
          &.automate-m{
            img{
              min-height:540px;
            }
            .card-body{
              .conolly-c{
                .c-sm{
                  &:last-child{
                    margin-top:0px;
                  }
                  &:nth-last-child(2) {
                    margin-top:0px;
                  }
                }
              } 
            } 
          } 
        }
      }
    }  
  }
  .min-h-720 {
    min-height:540px;
  }
  .zenegy-product {
    padding:50px 0 80px;
  }
  .px-15{
    padding:0 15px;
  }
  .save-time{
    .card {
      min-height:540px;
    }
  }
  .product-section{
    .card {
      min-height:540px;
    } 
  }
  .save-time{
    &.expense-management{
      .exp-manage {
        // min-height:520px;
      }
    }  
  }
  .stories {
    .team-blue-sec {
      .left-teamblue {
        .slick-track{
          height:200px;
        }
      }
    }
  }
  .automate-m{
    .card-body{
      .top{
        h4{
          br{
            display:none;
          }
        }
      }
    }
  }
  .save-time{
    &.expense-management{
      .ex-m{
        &.value-t{
          .card-body{
            .bottom{
              .desktop-img{
                display:none;
              }
              .mobile-img {
                display: block;
                height:100%;
              }
            } 
          } 
        }
        &.chart-account {
          background-size:contain;
          background-position:bottom;
        } 
      }
    } 
  }
}
@media screen and (max-width: 480px) {
  .product-page {
    .sub-header {
      .nav-header {
        .nav {
          li {
            &.dropdown {
              a {
                span {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
  .product-page {
    .sub-header {
      &.sticky {
        background: rgba(0, 0, 0, 0.7);
        .logo {
          a {
            color: $white;
          }
        }
        .nav-header {
          width: calc(100% - 140px);
          justify-content: flex-end;
          .nav li {
            &.dropdown {
              a {
                color: $white;
              }
              .dropdown-menu {
                li {
                  a {
                    color: $gray-900;
                  }
                }
              }
            }
          }
        }
      }
      .nav-header {
        width: calc(100% - 140px);
        // justify-content: flex-end;
      }
    }
  }
  .hero-section {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    // max-height: 100%;
    // &.hero-section-home{
    //   height:100vh;
    // }
  }
  .just-payroll-section {
    .user-r {
      .card {
        .card-body {
          text-align: center;
        }
      }
    }
  }
  .product-page {
    .sub-header {
      .nav-header {
        .nav {
          li {
            &.dropdown {
              display: none;
            }
          }
        }
      }
    }
  }
  // .expense , .numbers , .accounts {
  //   .btn{
  //     &.btn-fill-theme {
  //       padding:16px 28px;
  //     }
  //   }
  // }
  .btn {
    padding: 10px 28px;
  }
  .why-us{
    padding:50px 0;
    .card-section{
      .card{
        .video-bg{
          height:230px;
          video {
            top:9px;
          }
        } 
      } 
    } 
  }
    // .icon-wrapper{
    //   .icon-item{
    //     .icon{
    //       .svg-icon {
    //         svg{
    //           width:60px;
    //         }
    //       }
    //     } 
    //   } 
    // }
    .card{
      .content-center{
        height: calc(100% - 70px);
      } 
    }
    // .icon-wrapper{
    //   .icon-item{
    //     .icon{
    //       .svg-icon{
    //         svg {
    //           width: 90px;
    //         }
    //       } 
    //     } 
    //   }   
    // } 
    .payroll-banner-section{
      .join-us-form {
        padding-top: 50px;
      } 
    }
    .feature-section{
      .payroll-feature-section{
        .accordian-box{
          .accordian-content{
            .f-include{
              .f-list{
                li {
                  width:100%;
                }
              } 
            }
            .app-service-list{
              justify-content:space-around;
              li {
                width: calc(25% - 10px);
              } 
            }   
          } 
        } 
      } 
    }
    .automated-section{
      .paralex-icon-section{
        .icon-list{
          &:nth-child(5) {
            top: 211px;
          }
          &:nth-child(8) {
            top:385px;
            left:78%;
          }
          &:nth-child(9) {
            left: 19%;
            top: 489px;
          }
          &:nth-child(14) {
            top:780px;
            left:50%;
          }
          &:nth-child(15) {
            left: 19%;
            top: 617px;
          }
          &:nth-child(16) {
            left: 20%;
            top: 802px;
          }
          &:nth-child(17) {
            left: 52%;
            top: 1155px;
          }
        }
      } 
    }
}
@media screen and (max-width: 375px) {
  .why-us{
    .card-section{
      .card{
        .video-bg{
          iframe{
            top:-85px !important;
          }
        } 
      } 
    } 
  } 
}
@media screen and (max-width: 360px) {
  .card-img-overlay {
    padding:30px  15px;
  }
  .why-us{
    .card-section{
      .card{
        .video-bg{
          iframe{
            top:-85px !important;
          }
        } 
      } 
    } 
  } 
}
@media screen and (max-width: 320px) {
  .card-img-overlay {
    padding:30px  15px;
  }
  .why-us{
    .card-section{
      .card{
        .video-bg{
          iframe{
            top:-95px !important;
          }
        } 
      } 
    } 
  } 
}
@media screen and (min-width: 991.99px) {
  .footer .footer-links ul {
    display: block !important;
  }
}
