$font-family-sans-serif: Roboto, sans-serif;
$border-radius-lg: 30px;
$input-btn-font-size-lg: 1rem;
$input-btn-padding-y-lg: 1.05rem;
$input-btn-padding-x-lg: 1.5rem;
$grid-gutter-width:24px;

$blue: #00aaff;
$pink: #cf4e95;
$purple: #a358d0;
$accent: #3ba0dd;
$light-green:#51B03B;
$pink-light:#F9E5F0;


$gray-d8: #d8d8d8;
$gray-100: #f6f7f9;
$gray-300: #f6f6f6;
$gray-700: #979797;
$gray-800: #16181b;
$gray-900: #1f2227;

$theme-colors: (
  "primary": $blue,  
  "people": $pink,  
);